{% extends "layout.html" %}
{% block content %}
<div class="card">
    <h2>📁 Video Forensic Upload</h2>
    <p>Analyze pre-recorded footage for violence.</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*" required>
        <br><br>
        <button type="submit" class="btn">Start Analysis</button>
    </form>

    {% if result %}
    <div class="result-box {% if result == 'Violence' %}danger{% else %}success{% endif %}">
        VERDICT: {{ result }} <br>
        CONFIDENCE: {{ prob }}%
    </div>
    {% endif %}
</div>
{% endblock %}